* { 
    margin: 0; padding: 0; box-sizing: border-box;
}
body {
    font-family: 'DM Sans', sans-serif;
}
h4 {
    font-weight: 510 ;
    font-size: 16px;
}
h5 {
    font-weight: 500;
    font-size: 13.5px;
    color: #5081BB;
    font-weight: bolder;
}
p {
    font-weight: 500;
    font-size: 13.5px;
}
section {

    width: 21cm;
    min-height: 29.7cm;
    padding: 2cm;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: auto;
    margin-right: auto;
}
.header {
    /* background-color: #4572FB; */
    /* padding: 20px 20px; */
    width: 100%;
    line-height: 2;
}
.header .logo {
    max-width: 30%;
    height: auto;
}

/* line  */
.line {
    width: 100%;
    height: 5px;
    display: flex;
}
.line .line1 {
    width: 25%;
    border-bottom: 5px solid #4572FB;
}
.line .line2 {
    width: 25%;
    border-bottom: 5px solid #6E74FB;
}
.line .line3 {
    width: 25%;
    border-bottom: 5px solid #76AFFC;
}
.line .line4 {
    width: 25%;
    border-bottom: 5px solid #A7B0FC;
}
.container {
    max-width: 1300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 10px;
    display: flex;
    position: static;
} 

/* from  */
.from {
    width: 50%;
    line-height: 1.5;
    float: left;
    text-align: left;
}
.right-from {
    width: 50%;
    float: right;
    text-align: right;
}
.right-from .inv-date {
    display: inline-flex;
    text-align: center;
    align-items: center;
}
.right-from .inv-no {
    display: inline-flex;
}
.right-from .inv-LUT {
    display: inline-flex;
}
/* mail to  */
.to {
    width: 50%;
    line-height: 1.5;
    float: left;
    text-align: left;
    margin-top: 30px;
}

/* table */
.table {
    margin-top: 50px;
    border: 2px solid #d3d3d3 !important;
    text-align: center !important;
    border-collapse: collapse;
    width: 100%;
    position: relative;
}
.table thead {
    background-color: #5081BB;
    border: 1px solid #d3d3d3;
    color: white;
    width: 50%;
}
.table thead th {
    font-family:'DM Sans', sans-serif !important ;
    font-weight: 300;
    justify-content: center;
    border: 1px solid #d3d3d3;
    padding: 5px 0px;
    font-weight: 500;
    font-size: 13.5px;
}
.table tbody td {
    font-weight: 500;
    font-size: 13.5px;
    padding: 5px 0px;
    border: 1px solid #d3d3d3;
}
.w50 {
    width: 50%;
}
.w12 {
    width:12.5%
}
.w25 {
    width: 55%;
}
 /* text line  */
.text-line {
    margin-top: 40px;
}

.pay-table {
    border: 1.5px solid #808080 !important;
    text-align: center !important;
    border-collapse: collapse;
    width: 100%;
    position: relative;
}
.pay-table thead th {
    font-family:'DM Sans', sans-serif !important ;
    font-weight: 300;
    justify-content: center;
    padding: 5px 0px;
    font-weight: 500;
    font-size: 13.5px;
}
.pay-table thead {
    background-color: #5081BB;
    color: white;
    width: 50%;
}
.pay-table  tbody td {
    font-weight: 500;
    font-size: 13.5px;
    padding: 5px 5px;
    text-align: left;
}
.pay-table tbody td:first-child {
    border-right: 1px solid #808080;
}

/* greetings  */
.greet h5 {
    margin-top: 50px;
    text-align: center;
    font-size: 20px !important;
    font-weight: 570;
    margin-bottom: 50px;
}

/* footer */
.foot {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.foot .site {
    font-weight: bold;
    float: right;
    text-align: right;
    padding-right: 45px;
}
.foot .mail-id {
    font-weight: bold;
    float: left;
    text-align: left;
    padding-left: 45px;
}

